{% load static %}
{% load wagtailimages_tags %}


{% block content %}
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  /* 3 cards per row */
        gap: 16px;  /* space between cards */
    }
    .card {
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }
    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>

<div class="grid">
    {% for card in self.cards %}
        {% image card.image fill-800x600 as src %}
    <div class="card">
        {% if src %}
        <img src="{{src.url }}" alt="{{ card.title }}">
        {% endif %}
        <h3>{{ card.title }}</h3>
        <p>{{ card.text }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

