{% load static %}
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}


<div class="container-card">
<h1 class="text-center">{{ self.title }}</h1>
{%  for card in self.cards %}
<figure>
    <img class="card-img-top" src="https://picsum.photos/id/287/250/300" alt="Mountains">
    <button class="btn btn-primary btn-sm text-center mt-lg-1 m-auto">Go!</button>
</figure>
{#<figure style="--c:#fff5">#}
{#    <img src="https://picsum.photos/id/475/250/300" alt="Mountains">#}
{#    <figcaption>The Night</figcaption>#}
{#</figure>#}

{% endfor %}
</div>

