.custom-link {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* This is to remove the typical blue outline on focus for better visual but use with caution */
    /* You should ideally provide a replacement focus style for accessibility */
    outline: none;
    box-shadow: none;
}

.custom-link:hover {
    background-color: #2980b9;
}
.navbar-brand {


    font-family: 'Young Serif', serif;
}
.nav-link{
    font-family: 'Playfair Display', serif;
}
.title-txt{
    font-family: 'Bebas Neue', sans-serif;
}
